.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.input-number {
  font-family: Inter;
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ababab;
  text-align: start;
}
.MAX {
  font-family: Inter;
  font-size: 19px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: right;
  color: #985dc9;
}

.row-box {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.enable {
  /* background-size: cover; */
  object-fit: cover;
  /* margin-left: 34px; */
  display: flex;
  height: 60px;
  margin: 0 auto;
  margin-top: 16px;
}
.stake {
  margin-top: 0px;
  object-fit: contain;
  margin-right: 8px;
  width: 146px;
}
.stake-button-conatiner {
  display: flex;
  align-items: center;
}
.max-contianer {
  display: flex;
  align-items: center;
  margin: 15px;
}
.container-wrap {
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}
.text-container {
  padding: 100px 300px;
}
.actiondiv {
  display: flex;
  flex-direction: row;
  z-index: 99;
  margin-top: 50px;
  width: 1582px;
}
.Title {
  width: 144px;
  height: 48px;
  margin: 40px 0px 24px 25px;
  font-family: SpaceMace;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
}

.staking-box-small {
  width: 50%;
  height: 340px;
  margin: 24px 9px 16px 0;
  padding: 0 0 29px;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 #0000001e;
  background-color: #fff;
  margin-left: 15px;
}
.staking-box-small-header {
  height: 80px;
  margin: 0 0 24px;
  padding: 20px 32px;
  border-radius: 16px 16px 0 0;
  box-shadow: 0 4px 8px 0 #0000001e;
  background-color: #220245;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.staking-box-small-body {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.staking-box-small-body-row {
  display: flex;
  flex-direction: row;
  width: 80%;
}
.data-div {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.header-number {
  width: 174px;
  height: 24px;
  margin: 8px 8px 8px 156px;
  font-family: Neometric;
  font-size: 16px;
  margin-right: 12px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
}
.header-text {
  width: 232px;
  height: 24px;
  font-family: Neometric;
  font-size: 22px;
  margin-left: 10px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #fff;
}

.data-div-bold-text {
  width: 174px;
  height: 24px;
  margin: 18px 9px 10px 44px;
  font-family: Inter;
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.number {
  width: 162px;
  height: 24px;
  margin: 8px 1px 0 44px;
  font-family: Neometric;
  font-size: 35px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.75;
  letter-spacing: normal;
  color: var(--headers);
  margin-top: 15px;
}

.staking-big-box {
  width: 98.8%;
  height: 340px;
  margin: 0 auto;
  padding: 0 0 29px;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 #0000001e;
  background-color: #fff;
}
.staking-box-big-header {
  height: 80px;
  margin: 0 0 24px;
  padding: 20px 32px;
  border-radius: 16px 16px 0 0;
  box-shadow: 0 4px 8px 0 #0000001e;
  background-color: #220245;
  display: flex;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.staking-box-big-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.staking-box-big-body-row {
  display: flex;
  flex-direction: row;
  width: 80%;
}
.Rectangle-Copy-3 {
  width: 940px;
  height: 80px;
  margin: 0 0 24px;
  padding: 21px 374px 22px;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 #0000001e;
  background-color: #220245;
}
.Update {
  font-family: Inter;
  font-size: 19px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #985dc9;
  margin-left: 20px;
  text-decoration: underline;
}
.data-div-bold-text-big {
  font-family: Inter;
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}
