.h-bar {
  position: absolute;
  top: 20px;
  right: 50px;
  background-color: #fff;
  display: flex;
  text-align: center;
  right: 50px;
}
.h-bar-alt {
  position: absolute;
  top: 20px;
  right: 50px;
  background-color: #fff;
  margin: 0 0 38px 9px;
  padding: 4px 4px 4px 17px;
  border-radius: 10px;
  border: solid 1px #220245;
  background-color: #fff9;
  display: flex;
  text-align: center;
  right: 50px;
}
.top-menu-bar-alt {
  height: 48px;
  margin: 0 0 0 24px;
}
.top-menu-bar {
  height: 48px;
  margin: 0 0 0 24px;
  padding: 4px 4px 4px 16px;
  border-radius: 8px;
  border: solid 1px #6d7278;
}
.menu-text {
  /* width: 124px; */
  /* height: 24px; */
  margin: 8px 24px;
  font-family: SpaceMace;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  white-space: nowrap;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: right;
  color: #030303;
}
.menu-icon {
  width: 16px;
  height: 16px;
  margin: 26px 0;
  object-fit: contain;
}
