* {
	box-sizing: border-box;
	letter-spacing: normal;
}

html {
	overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
	font-family: "SpaceMace";
	src: local("SpaceMace"), url("./fonts/SpaceMace/SpaceMace.otf") format("truetype");
	font-weight: normal;
}
@font-face {
	font-family: "Inter";
	src: local("Inter"), url("./fonts/Inter/Inter-Regular.ttf") format("truetype");
	font-weight: normal;
}
@font-face {
	font-family: "Neometric";
	src: local("Neometric"),
	url("./fonts/Neometric/Neometric-Regular.otf") format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: "Neometric";
	src: local("Neometric"),
	url("./fonts/Neometric/Neometric-Alt-Black.otf") format("truetype");
	font-weight: 900;
}
