.subscription-big-box {
  width: 1400px;
  height: 880px;
  margin: 0 auto;
  padding: 0 0 29px;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 #0000001e;
  background-color: #fff;
  margin-bottom: 10px;
  margin-top: 15px;
}
.show-more {
  align-self: center;
  width: 174px;
  margin: 8px 8px 8px 116px;
  font-family: Neometric-Alt;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
}
.header-sub-div {
  display: flex;
  flex-direction: row;
}
.subscription-big-box-dropclose {
  width: 1400px;
  height: 65px;

  margin: 0 auto;
  padding: 0 0 29px;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 #0000001e;
  background-color: #fff;
  margin-bottom: 30px;
  margin-top: 30px;
}

.leftside-body {
  width: 47%;
  position: relative;
  margin: 35px;
}
.subscription-box-big-header {
  height: 65px;
  margin: 0 0 24px;
  padding: 20px 32px;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 #0000001e;
  background-color: #220245;
  display: flex;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.data-div-bold-text-subs {
  height: 24px;
  font-family: Inter;
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}
.Buy-PPBLZ {
  width: 174px;
  height: 24px;
  margin: 8px 4px 0 0;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #985dc9;
  text-decoration: underline;
  position: absolute;
  right: 0;
  top: 82px;
}
.subscription-box-big-header-drop {
  height: 65px;
  margin: 0 0 24px;
  padding: 20px 32px;
  border-radius: 16px 16px 0 0;
  box-shadow: 0 4px 8px 0 #0000001e;
  background-color: #220245;
  display: flex;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.active-subscription {
  width: 174px;
  height: 24px;
  margin: 8px 4px 0 0;
  font-family: Inter;
  font-size: 49px;
  font-weight: bold;
  font-stretch: normal;

  letter-spacing: normal;
  color: #713aac;
}

.Yugipepe {
  width: 162px;
  height: 24px;
  font-family: Neometric;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  /* line-height: 0.75; */
  letter-spacing: normal;
  color: var(--headers);
  margin-top: 15px;
}

.number {
  width: 162px;
  height: 24px;
  font-family: Neometric;
  font-size: 35px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.75;
  letter-spacing: normal;
  color: var(--headers);
  margin-top: 15px;
}

.top-header-text {
  align-self: center;
  height: 24px;
  font-family: Neometric;
  font-size: 22px;
  margin-left: 10px;
  width: 400px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #fff;
}

.enable {
  /* background-size: cover; */
  object-fit: cover;
  /* margin-left: 34px; */
  display: flex;
  height: 60px;
  margin: 0 auto;
  margin-top: 16px;
}

.subscription-box-big-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Rectangle {
  width: 2px;
  height: 695px;
  background-color: #f0f0f0;
}

.rightside-body {
  width: 42%;
  display: flex;
  flex-direction: row;
  margin: 35px;
}

.Update {
  font-family: Inter;
  font-size: 19px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #985dc9;
  margin-left: 20px;
  text-decoration: underline;
}
.data-div-bold-text-subs-big {
  font-family: Inter;
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}
